.favorite-control{
  a{
    color: #9e9999;
    text-decoration: none;

    .glyphicon{
      font-size: 25px;
      color: #9e9999;
      top: 7px;
      margin-right: 5px;
    }
  }

  &.is-favorite{
    .glyphicon{
      color: red;
    }
  }
}
