.search-area{
  margin-bottom: 30px;

  .react-autosuggest__container{
    input{
      height: 34px;
      width: 300px;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    ul.react-autosuggest__suggestions-list{
      list-style-type: none;
      display: inline-block;
      padding-left: 0px;
      width: 300px;

      li.react-autosuggest__suggestion{
        text-align: left;
        text-align: left;
        padding: 5px;
        transition: background-color 0.5s ease;


        &.react-autosuggest__suggestion--highlighted{
          background-color: #beddff;
          cursor: pointer;
        }

        img{
          margin-right: 10px;
        }
      }
    }
  }
}
