.App {
  text-align: center;

  .navbar{
    .navbar-header{
      .navbar-brand{
        .app-logo{
          height: 23px;
          float: left;
          margin-right: 10px;
        }
      }
    }
  }

  .tagline{
    padding: 15px 15px 14px;
    font-style: italic;
    font-size: 15px;
  }
}
